<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdeado.factory.dao.base.OrderProductListBaseMapper">


    <insert id="insertOrderProductList" >
        INSERT INTO `tb_order_product_list`
        (
        <trim suffixOverrides=",">
                    <if test="orderId!=null">
                        `order_id`,
                    </if>
                    <if test="productNo!=null">
                        `product_no`,
                    </if>
                    <if test="productId!=null">
                        `product_id`,
                    </if>
                    <if test="productName!=null">
                        `product_name`,
                    </if>
                    <if test="standard!=null">
                        `standard`,
                    </if>
                    <if test="amount!=null">
                        `amount`,
                    </if>
                    <if test="production!=null">
                        `production`,
                    </if>
                    <if test="cateId!=null">
                        `cate_id`,
                    </if>
                    <if test="productUpid!=null">
                        `product_upid`,
                    </if>
                    <if test="remarks!=null">
                        `remarks`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="orderId!=null">
                    #{orderId},
                </if>
                <if test="productNo!=null">
                    #{productNo},
                </if>
                <if test="productId!=null">
                    #{productId},
                </if>
                <if test="productName!=null">
                    #{productName},
                </if>
                <if test="standard!=null">
                    #{standard},
                </if>
                <if test="amount!=null">
                    #{amount},
                </if>
                <if test="production!=null">
                    #{production},
                </if>
                <if test="cateId!=null">
                    #{cateId},
                </if>
                <if test="productUpid!=null">
                    #{productUpid},
                </if>
                <if test="remarks!=null">
                    #{remarks},
                </if>
        </trim>
        )
    </insert>




    <update id="updateOrderProductList">
        UPDATE `tb_order_product_list`
        SET
        <trim suffixOverrides=",">
            <if test="orderId != null">
                `order_id` = #{orderId},
            </if>
            <if test="productNo != null and productNo!=''">
                `product_no` = #{productNo},
            </if>
            <if test="productId != null">
                `product_id` = #{productId},
            </if>
            <if test="productName != null and productName!=''">
                `product_name` = #{productName},
            </if>
            <if test="standard != null and standard!=''">
                `standard` = #{standard},
            </if>
            <if test="amount != null">
                `amount` = #{amount},
            </if>
            <if test="production != null and production!=''">
                `production` = #{production},
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId},
            </if>
            <if test="productUpid != null">
                `product_upid` = #{productUpid},
            </if>
            <if test="remarks != null and remarks!=''">
                `remarks` = #{remarks},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
        </trim>
    </update>



    <resultMap type="com.tdeado.factory.entity.OrderProductList" id="OrderProductListMap">
        <result property="orderId" column="order_id"/>
        <result property="productNo" column="product_no"/>
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="standard" column="standard"/>
        <result property="amount" column="amount"/>
        <result property="production" column="production"/>
        <result property="cateId" column="cate_id"/>
        <result property="productUpid" column="product_upid"/>
        <result property="remarks" column="remarks"/>
    </resultMap>


    <select id="queryOrderProductList" resultMap="OrderProductListMap">
        select
        <include refid="baseResult"></include>
        from  `tb_order_product_list`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="orderId != null">
                `order_id` = #{orderId} and
            </if>
            <if test="productNo != null and productNo!=''">
                `product_no` = #{productNo} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="productName != null and productName!=''">
                `product_name` = #{productName} and
            </if>
            <if test="standard != null and standard!=''">
                `standard` = #{standard} and
            </if>
            <if test="amount != null">
                `amount` = #{amount} and
            </if>
            <if test="production != null and production!=''">
                `production` = #{production} and
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId} and
            </if>
            <if test="productUpid != null">
                `product_upid` = #{productUpid} and
            </if>
            <if test="remarks != null and remarks!=''">
                `remarks` = #{remarks} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.OrderProductList$QueryBuilder) == true">
                <if test="orderIdList != null">
                    `order_id` in
                    <foreach collection="orderIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="orderIdSt !=null">
                    `order_id` >= #{orderIdSt} and
                </if>
                <if test="orderIdEd!=null">
                    `order_id` &lt;= #{orderIdEd} and
                </if>
                <if test="productNoList != null">
                    `product_no` in
                    <foreach collection="productNoList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProductNo!=null and fuzzyProductNo.size()>0">
                    (
                    <foreach collection="fuzzyProductNo"  separator="or" item="item">
                        `Product_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductNo!=null and rightFuzzyProductNo.size()>0">
                    (
                    <foreach collection="rightFuzzyProductNo"  separator="or" item="item">
                        `Product_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="productIdList != null">
                    `product_id` in
                    <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                <if test="productNameList != null">
                    `product_name` in
                    <foreach collection="productNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProductName!=null and fuzzyProductName.size()>0">
                    (
                    <foreach collection="fuzzyProductName"  separator="or" item="item">
                        `Product_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductName!=null and rightFuzzyProductName.size()>0">
                    (
                    <foreach collection="rightFuzzyProductName"  separator="or" item="item">
                        `Product_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="standardList != null">
                    `standard` in
                    <foreach collection="standardList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyStandard!=null and fuzzyStandard.size()>0">
                    (
                    <foreach collection="fuzzyStandard"  separator="or" item="item">
                        `Standard` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyStandard!=null and rightFuzzyStandard.size()>0">
                    (
                    <foreach collection="rightFuzzyStandard"  separator="or" item="item">
                        `Standard` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="amountList != null">
                    `amount` in
                    <foreach collection="amountList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="amountSt !=null">
                    `amount` >= #{amountSt} and
                </if>
                <if test="amountEd!=null">
                    `amount` &lt;= #{amountEd} and
                </if>
                <if test="productionList != null">
                    `production` in
                    <foreach collection="productionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyProduction!=null and fuzzyProduction.size()>0">
                    (
                    <foreach collection="fuzzyProduction"  separator="or" item="item">
                        `Production` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProduction!=null and rightFuzzyProduction.size()>0">
                    (
                    <foreach collection="rightFuzzyProduction"  separator="or" item="item">
                        `Production` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="cateIdList != null">
                    `cate_id` in
                    <foreach collection="cateIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="cateIdSt !=null">
                    `cate_id` >= #{cateIdSt} and
                </if>
                <if test="cateIdEd!=null">
                    `cate_id` &lt;= #{cateIdEd} and
                </if>
                <if test="productUpidList != null">
                    `product_upid` in
                    <foreach collection="productUpidList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="productUpidSt !=null">
                    `product_upid` >= #{productUpidSt} and
                </if>
                <if test="productUpidEd!=null">
                    `product_upid` &lt;= #{productUpidEd} and
                </if>
                <if test="remarksList != null">
                    `remarks` in
                    <foreach collection="remarksList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRemarks!=null and fuzzyRemarks.size()>0">
                    (
                    <foreach collection="fuzzyRemarks"  separator="or" item="item">
                        `Remarks` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemarks!=null and rightFuzzyRemarks.size()>0">
                    (
                    <foreach collection="rightFuzzyRemarks"  separator="or" item="item">
                        `Remarks` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryOrderProductListLimit1" resultMap="OrderProductListMap">
        select
        <include refid="baseResult"></include>
        from  `tb_order_product_list`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="orderId != null">
                `order_id` = #{orderId} and
            </if>
            <if test="productNo != null and productNo!=''">
                `product_no` = #{productNo} and
            </if>
            <if test="productId != null">
                `product_id` = #{productId} and
            </if>
            <if test="productName != null and productName!=''">
                `product_name` = #{productName} and
            </if>
            <if test="standard != null and standard!=''">
                `standard` = #{standard} and
            </if>
            <if test="amount != null">
                `amount` = #{amount} and
            </if>
            <if test="production != null and production!=''">
                `production` = #{production} and
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId} and
            </if>
            <if test="productUpid != null">
                `product_upid` = #{productUpid} and
            </if>
            <if test="remarks != null and remarks!=''">
                `remarks` = #{remarks} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.OrderProductList$QueryBuilder) == true">
                    <if test="orderIdList != null">
                        `order_id` in
                        <foreach collection="orderIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="orderIdSt !=null">
                    `order_id` >= #{orderIdSt} and
                </if>
                <if test="orderIdEd!=null">
                    `order_id` &lt;= #{orderIdEd} and
                </if>
                    <if test="productNoList != null">
                        `product_no` in
                        <foreach collection="productNoList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProductNo!=null and fuzzyProductNo.size()>0">
                    (
                    <foreach collection="fuzzyProductNo"  separator="or" item="item">
                        `Product_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductNo!=null and rightFuzzyProductNo.size()>0">
                    (
                    <foreach collection="rightFuzzyProductNo"  separator="or" item="item">
                        `Product_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="productIdList != null">
                        `product_id` in
                        <foreach collection="productIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="productIdSt !=null">
                    `product_id` >= #{productIdSt} and
                </if>
                <if test="productIdEd!=null">
                    `product_id` &lt;= #{productIdEd} and
                </if>
                    <if test="productNameList != null">
                        `product_name` in
                        <foreach collection="productNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProductName!=null and fuzzyProductName.size()>0">
                    (
                    <foreach collection="fuzzyProductName"  separator="or" item="item">
                        `Product_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProductName!=null and rightFuzzyProductName.size()>0">
                    (
                    <foreach collection="rightFuzzyProductName"  separator="or" item="item">
                        `Product_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="standardList != null">
                        `standard` in
                        <foreach collection="standardList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyStandard!=null and fuzzyStandard.size()>0">
                    (
                    <foreach collection="fuzzyStandard"  separator="or" item="item">
                        `Standard` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyStandard!=null and rightFuzzyStandard.size()>0">
                    (
                    <foreach collection="rightFuzzyStandard"  separator="or" item="item">
                        `Standard` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="amountList != null">
                        `amount` in
                        <foreach collection="amountList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="amountSt !=null">
                    `amount` >= #{amountSt} and
                </if>
                <if test="amountEd!=null">
                    `amount` &lt;= #{amountEd} and
                </if>
                    <if test="productionList != null">
                        `production` in
                        <foreach collection="productionList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyProduction!=null and fuzzyProduction.size()>0">
                    (
                    <foreach collection="fuzzyProduction"  separator="or" item="item">
                        `Production` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyProduction!=null and rightFuzzyProduction.size()>0">
                    (
                    <foreach collection="rightFuzzyProduction"  separator="or" item="item">
                        `Production` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="cateIdList != null">
                        `cate_id` in
                        <foreach collection="cateIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="cateIdSt !=null">
                    `cate_id` >= #{cateIdSt} and
                </if>
                <if test="cateIdEd!=null">
                    `cate_id` &lt;= #{cateIdEd} and
                </if>
                    <if test="productUpidList != null">
                        `product_upid` in
                        <foreach collection="productUpidList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="productUpidSt !=null">
                    `product_upid` >= #{productUpidSt} and
                </if>
                <if test="productUpidEd!=null">
                    `product_upid` &lt;= #{productUpidEd} and
                </if>
                    <if test="remarksList != null">
                        `remarks` in
                        <foreach collection="remarksList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRemarks!=null and fuzzyRemarks.size()>0">
                    (
                    <foreach collection="fuzzyRemarks"  separator="or" item="item">
                        `Remarks` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRemarks!=null and rightFuzzyRemarks.size()>0">
                    (
                    <foreach collection="rightFuzzyRemarks"  separator="or" item="item">
                        `Remarks` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `order_id`,
        `product_no`,
        `product_id`,
        `product_name`,
        `standard`,
        `amount`,
        `production`,
        `cate_id`,
        `product_upid`,
        `remarks`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tdeado.factory.entity.OrderProductList$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.orderId==true">
                        `order_id`,
                    </if>
                    <if test="fetchFields.fetchFields.productNo==true">
                        `product_no`,
                    </if>
                    <if test="fetchFields.fetchFields.productId==true">
                        `product_id`,
                    </if>
                    <if test="fetchFields.fetchFields.productName==true">
                        `product_name`,
                    </if>
                    <if test="fetchFields.fetchFields.standard==true">
                        `standard`,
                    </if>
                    <if test="fetchFields.fetchFields.amount==true">
                        `amount`,
                    </if>
                    <if test="fetchFields.fetchFields.production==true">
                        `production`,
                    </if>
                    <if test="fetchFields.fetchFields.cateId==true">
                        `cate_id`,
                    </if>
                    <if test="fetchFields.fetchFields.productUpid==true">
                        `product_upid`,
                    </if>
                    <if test="fetchFields.fetchFields.remarks==true">
                        `remarks`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.orderId==null">
                        `order_id`,
                    </if>
                    <if test="fetchFields.excludeFields.productNo==null">
                        `product_no`,
                    </if>
                    <if test="fetchFields.excludeFields.productId==null">
                        `product_id`,
                    </if>
                    <if test="fetchFields.excludeFields.productName==null">
                        `product_name`,
                    </if>
                    <if test="fetchFields.excludeFields.standard==null">
                        `standard`,
                    </if>
                    <if test="fetchFields.excludeFields.amount==null">
                        `amount`,
                    </if>
                    <if test="fetchFields.excludeFields.production==null">
                        `production`,
                    </if>
                    <if test="fetchFields.excludeFields.cateId==null">
                        `cate_id`,
                    </if>
                    <if test="fetchFields.excludeFields.productUpid==null">
                        `product_upid`,
                    </if>
                    <if test="fetchFields.excludeFields.remarks==null">
                        `remarks`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tdeado.factory.entity.OrderProductList$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>