<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdeado.factory.dao.base.RoleBaseMapper">


    <insert id="insertRole"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tb_role`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="roleName!=null">
                        `role_name`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="roleName!=null">
                    #{roleName},
                </if>
        </trim>
        )
    </insert>




    <update id="updateRole">
        UPDATE `tb_role`
        SET
        <trim suffixOverrides=",">
            <if test="roleName != null and roleName!=''">
                `role_name` = #{roleName},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>



    <resultMap type="com.tdeado.factory.entity.Role" id="RoleMap">
        <result property="id" column="id"/>
        <result property="roleName" column="role_name"/>
    </resultMap>


    <select id="queryRole" resultMap="RoleMap">
        select
        <include refid="baseResult"></include>
        from  `tb_role`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="roleName != null and roleName!=''">
                `role_name` = #{roleName} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.Role$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="roleNameList != null">
                    `role_name` in
                    <foreach collection="roleNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyRoleName!=null and fuzzyRoleName.size()>0">
                    (
                    <foreach collection="fuzzyRoleName"  separator="or" item="item">
                        `Role_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRoleName!=null and rightFuzzyRoleName.size()>0">
                    (
                    <foreach collection="rightFuzzyRoleName"  separator="or" item="item">
                        `Role_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryRoleLimit1" resultMap="RoleMap">
        select
        <include refid="baseResult"></include>
        from  `tb_role`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="roleName != null and roleName!=''">
                `role_name` = #{roleName} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.Role$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="roleNameList != null">
                        `role_name` in
                        <foreach collection="roleNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyRoleName!=null and fuzzyRoleName.size()>0">
                    (
                    <foreach collection="fuzzyRoleName"  separator="or" item="item">
                        `Role_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyRoleName!=null and rightFuzzyRoleName.size()>0">
                    (
                    <foreach collection="rightFuzzyRoleName"  separator="or" item="item">
                        `Role_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `role_name`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tdeado.factory.entity.Role$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.roleName==true">
                        `role_name`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.roleName==null">
                        `role_name`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tdeado.factory.entity.Role$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>