<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tdeado.factory.dao.base.UserBaseMapper">


    <insert id="insertUser"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `tb_user`
        (
        <trim suffixOverrides=",">
                    <if test="id!=null">
                        `id`,
                    </if>
                    <if test="userName!=null">
                        `user_name`,
                    </if>
                    <if test="userNo!=null">
                        `user_no`,
                    </if>
                    <if test="position!=null">
                        `position`,
                    </if>
                    <if test="entryTime!=null">
                        `entry_time`,
                    </if>
                    <if test="dimissionTime!=null">
                        `dimission_time`,
                    </if>
                    <if test="status!=null">
                        `status`,
                    </if>
                    <if test="phone!=null">
                        `phone`,
                    </if>
                    <if test="cateId!=null">
                        `cate_id`,
                    </if>
        </trim>
        )
        VALUES
        (
        <trim suffixOverrides=",">
                <if test="id!=null">
                    #{id},
                </if>
                <if test="userName!=null">
                    #{userName},
                </if>
                <if test="userNo!=null">
                    #{userNo},
                </if>
                <if test="position!=null">
                    #{position},
                </if>
                <if test="entryTime!=null">
                    #{entryTime},
                </if>
                <if test="dimissionTime!=null">
                    #{dimissionTime},
                </if>
                <if test="status!=null">
                    #{status},
                </if>
                <if test="phone!=null">
                    #{phone},
                </if>
                <if test="cateId!=null">
                    #{cateId},
                </if>
        </trim>
        )
    </insert>




    <update id="updateUser">
        UPDATE `tb_user`
        SET
        <trim suffixOverrides=",">
            <if test="userName != null and userName!=''">
                `user_name` = #{userName},
            </if>
            <if test="userNo != null and userNo!=''">
                `user_no` = #{userNo},
            </if>
            <if test="position != null and position!=''">
                `position` = #{position},
            </if>
            <if test="entryTime != null and entryTime!=''">
                `entry_time` = #{entryTime},
            </if>
            <if test="dimissionTime != null and dimissionTime!=''">
                `dimission_time` = #{dimissionTime},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone},
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId},
            </if>
        </trim>
        WHERE
        <trim suffixOverrides="and">
                `id` = #{id} and
        </trim>
    </update>



    <resultMap type="com.tdeado.factory.entity.User" id="UserMap">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="userNo" column="user_no"/>
        <result property="position" column="position"/>
        <result property="entryTime" column="entry_time"/>
        <result property="dimissionTime" column="dimission_time"/>
        <result property="status" column="status"/>
        <result property="phone" column="phone"/>
        <result property="cateId" column="cate_id"/>
    </resultMap>


    <select id="queryUser" resultMap="UserMap">
        select
        <include refid="baseResult"></include>
        from  `tb_user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userName != null and userName!=''">
                `user_name` = #{userName} and
            </if>
            <if test="userNo != null and userNo!=''">
                `user_no` = #{userNo} and
            </if>
            <if test="position != null and position!=''">
                `position` = #{position} and
            </if>
            <if test="entryTime != null and entryTime!=''">
                `entry_time` = #{entryTime} and
            </if>
            <if test="dimissionTime != null and dimissionTime!=''">
                `dimission_time` = #{dimissionTime} and
            </if>
            <if test="status != null">
                `status` = #{status} and
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone} and
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.User$QueryBuilder) == true">
                <if test="idList != null">
                    `id` in
                    <foreach collection="idList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                <if test="userNameList != null">
                    `user_name` in
                    <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `User_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `User_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="userNoList != null">
                    `user_no` in
                    <foreach collection="userNoList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyUserNo!=null and fuzzyUserNo.size()>0">
                    (
                    <foreach collection="fuzzyUserNo"  separator="or" item="item">
                        `User_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserNo!=null and rightFuzzyUserNo.size()>0">
                    (
                    <foreach collection="rightFuzzyUserNo"  separator="or" item="item">
                        `User_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="positionList != null">
                    `position` in
                    <foreach collection="positionList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPosition!=null and fuzzyPosition.size()>0">
                    (
                    <foreach collection="fuzzyPosition"  separator="or" item="item">
                        `Position` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPosition!=null and rightFuzzyPosition.size()>0">
                    (
                    <foreach collection="rightFuzzyPosition"  separator="or" item="item">
                        `Position` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="entryTimeList != null">
                    `entry_time` in
                    <foreach collection="entryTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyEntryTime!=null and fuzzyEntryTime.size()>0">
                    (
                    <foreach collection="fuzzyEntryTime"  separator="or" item="item">
                        `Entry_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEntryTime!=null and rightFuzzyEntryTime.size()>0">
                    (
                    <foreach collection="rightFuzzyEntryTime"  separator="or" item="item">
                        `Entry_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="dimissionTimeList != null">
                    `dimission_time` in
                    <foreach collection="dimissionTimeList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyDimissionTime!=null and fuzzyDimissionTime.size()>0">
                    (
                    <foreach collection="fuzzyDimissionTime"  separator="or" item="item">
                        `Dimission_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyDimissionTime!=null and rightFuzzyDimissionTime.size()>0">
                    (
                    <foreach collection="rightFuzzyDimissionTime"  separator="or" item="item">
                        `Dimission_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="statusList != null">
                    `status` in
                    <foreach collection="statusList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="statusSt !=null">
                    `status` >= #{statusSt} and
                </if>
                <if test="statusEd!=null">
                    `status` &lt;= #{statusEd} and
                </if>
                <if test="phoneList != null">
                    `phone` in
                    <foreach collection="phoneList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test ="fuzzyPhone!=null and fuzzyPhone.size()>0">
                    (
                    <foreach collection="fuzzyPhone"  separator="or" item="item">
                        `Phone` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhone!=null and rightFuzzyPhone.size()>0">
                    (
                    <foreach collection="rightFuzzyPhone"  separator="or" item="item">
                        `Phone` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test="cateIdList != null">
                    `cate_id` in
                    <foreach collection="cateIdList" close=")" open="(" separator="," item="item">
                        #{item}
                    </foreach> and
                </if>
                <if test="cateIdSt !=null">
                    `cate_id` >= #{cateIdSt} and
                </if>
                <if test="cateIdEd!=null">
                    `cate_id` &lt;= #{cateIdEd} and
                </if>
            </if>
        </trim>
    </select>

    <select id="queryUserLimit1" resultMap="UserMap">
        select
        <include refid="baseResult"></include>
        from  `tb_user`
        <trim prefix="where" suffixOverrides="and | or">
            <if test="id != null">
                `id` = #{id} and
            </if>
            <if test="userName != null and userName!=''">
                `user_name` = #{userName} and
            </if>
            <if test="userNo != null and userNo!=''">
                `user_no` = #{userNo} and
            </if>
            <if test="position != null and position!=''">
                `position` = #{position} and
            </if>
            <if test="entryTime != null and entryTime!=''">
                `entry_time` = #{entryTime} and
            </if>
            <if test="dimissionTime != null and dimissionTime!=''">
                `dimission_time` = #{dimissionTime} and
            </if>
            <if test="status != null">
                `status` = #{status} and
            </if>
            <if test="phone != null and phone!=''">
                `phone` = #{phone} and
            </if>
            <if test="cateId != null">
                `cate_id` = #{cateId} and
            </if>
            <if test = "(_parameter instanceof com.tdeado.factory.entity.User$QueryBuilder) == true">
                    <if test="idList != null">
                        `id` in
                        <foreach collection="idList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="idSt !=null">
                    `id` >= #{idSt} and
                </if>
                <if test="idEd!=null">
                    `id` &lt;= #{idEd} and
                </if>
                    <if test="userNameList != null">
                        `user_name` in
                        <foreach collection="userNameList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserName!=null and fuzzyUserName.size()>0">
                    (
                    <foreach collection="fuzzyUserName"  separator="or" item="item">
                        `User_name` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserName!=null and rightFuzzyUserName.size()>0">
                    (
                    <foreach collection="rightFuzzyUserName"  separator="or" item="item">
                        `User_name` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="userNoList != null">
                        `user_no` in
                        <foreach collection="userNoList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyUserNo!=null and fuzzyUserNo.size()>0">
                    (
                    <foreach collection="fuzzyUserNo"  separator="or" item="item">
                        `User_no` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyUserNo!=null and rightFuzzyUserNo.size()>0">
                    (
                    <foreach collection="rightFuzzyUserNo"  separator="or" item="item">
                        `User_no` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="positionList != null">
                        `position` in
                        <foreach collection="positionList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPosition!=null and fuzzyPosition.size()>0">
                    (
                    <foreach collection="fuzzyPosition"  separator="or" item="item">
                        `Position` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPosition!=null and rightFuzzyPosition.size()>0">
                    (
                    <foreach collection="rightFuzzyPosition"  separator="or" item="item">
                        `Position` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="entryTimeList != null">
                        `entry_time` in
                        <foreach collection="entryTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyEntryTime!=null and fuzzyEntryTime.size()>0">
                    (
                    <foreach collection="fuzzyEntryTime"  separator="or" item="item">
                        `Entry_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyEntryTime!=null and rightFuzzyEntryTime.size()>0">
                    (
                    <foreach collection="rightFuzzyEntryTime"  separator="or" item="item">
                        `Entry_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="dimissionTimeList != null">
                        `dimission_time` in
                        <foreach collection="dimissionTimeList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyDimissionTime!=null and fuzzyDimissionTime.size()>0">
                    (
                    <foreach collection="fuzzyDimissionTime"  separator="or" item="item">
                        `Dimission_time` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyDimissionTime!=null and rightFuzzyDimissionTime.size()>0">
                    (
                    <foreach collection="rightFuzzyDimissionTime"  separator="or" item="item">
                        `Dimission_time` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="statusList != null">
                        `status` in
                        <foreach collection="statusList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="statusSt !=null">
                    `status` >= #{statusSt} and
                </if>
                <if test="statusEd!=null">
                    `status` &lt;= #{statusEd} and
                </if>
                    <if test="phoneList != null">
                        `phone` in
                        <foreach collection="phoneList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test ="fuzzyPhone!=null and fuzzyPhone.size()>0">
                    (
                    <foreach collection="fuzzyPhone"  separator="or" item="item">
                        `Phone` like concat('%',#{item},'%')
                    </foreach>
                    ) and
                </if>
                <if test ="rightFuzzyPhone!=null and rightFuzzyPhone.size()>0">
                    (
                    <foreach collection="rightFuzzyPhone"  separator="or" item="item">
                        `Phone` like concat(#{item},'%')
                    </foreach>
                    ) and
                </if>
                    <if test="cateIdList != null">
                        `cate_id` in
                        <foreach collection="cateIdList" close=")" open="(" separator="," item="item">
                            #{item}
                        </foreach> and
                    </if>
                <if test="cateIdSt !=null">
                    `cate_id` >= #{cateIdSt} and
                </if>
                <if test="cateIdEd!=null">
                    `cate_id` &lt;= #{cateIdEd} and
                </if>
            </if>
        </trim>
        limit 1
    </select>

    <sql id="allResult">
        <trim suffixOverrides=",">
        `id`,
        `user_name`,
        `user_no`,
        `position`,
        `entry_time`,
        `dimission_time`,
        `status`,
        `phone`,
        `cate_id`,
        </trim>
    </sql>



    <sql id="baseResult">
        <trim suffixOverrides=",">
            <if test = "(_parameter instanceof com.tdeado.factory.entity.User$QueryBuilder) == true">

                <if test="fetchFields==null">
                    <include refid="allResult"></include>
                </if>
                <if test="fetchFields!=null">
                    <if test="fetchFields.AllFields !=null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields ==null and fetchFields.fetchFields==null and fetchFields.excludeFields==null and fetchFields.otherFields==null">
                        <include refid="allResult"></include>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.fetchFields!=null">
                    <if test="fetchFields.fetchFields.id==true">
                        `id`,
                    </if>
                    <if test="fetchFields.fetchFields.userName==true">
                        `user_name`,
                    </if>
                    <if test="fetchFields.fetchFields.userNo==true">
                        `user_no`,
                    </if>
                    <if test="fetchFields.fetchFields.position==true">
                        `position`,
                    </if>
                    <if test="fetchFields.fetchFields.entryTime==true">
                        `entry_time`,
                    </if>
                    <if test="fetchFields.fetchFields.dimissionTime==true">
                        `dimission_time`,
                    </if>
                    <if test="fetchFields.fetchFields.status==true">
                        `status`,
                    </if>
                    <if test="fetchFields.fetchFields.phone==true">
                        `phone`,
                    </if>
                    <if test="fetchFields.fetchFields.cateId==true">
                        `cate_id`,
                    </if>
                    </if>
                    <if test="fetchFields.AllFields==null and fetchFields.excludeFields!=null">
                    <if test="fetchFields.excludeFields.id==null">
                        `id`,
                    </if>
                    <if test="fetchFields.excludeFields.userName==null">
                        `user_name`,
                    </if>
                    <if test="fetchFields.excludeFields.userNo==null">
                        `user_no`,
                    </if>
                    <if test="fetchFields.excludeFields.position==null">
                        `position`,
                    </if>
                    <if test="fetchFields.excludeFields.entryTime==null">
                        `entry_time`,
                    </if>
                    <if test="fetchFields.excludeFields.dimissionTime==null">
                        `dimission_time`,
                    </if>
                    <if test="fetchFields.excludeFields.status==null">
                        `status`,
                    </if>
                    <if test="fetchFields.excludeFields.phone==null">
                        `phone`,
                    </if>
                    <if test="fetchFields.excludeFields.cateId==null">
                        `cate_id`,
                    </if>
                    </if>
                    <if test="fetchFields.otherFields!=null and fetchFields.otherFields.size>0">
                        <foreach collection="fetchFields.otherFields" index="index" item="item" separator=",">
                        `#{item}`
                        </foreach>
                    </if>
                </if>
            </if>
            <if test="(_parameter instanceof com.tdeado.factory.entity.User$QueryBuilder) == false" >
                <include refid="allResult"></include>
            </if>

        </trim>
    </sql>


</mapper>